.main {
  margin: 32px auto;
  width: 100%;
}

.container {
  gap: 32px;
  display: grid;
  margin: 32px auto;
  max-width: 1180px;
  grid-template-columns: 2fr 1fr;
}

.article {
  gap: 32px;
  display: grid;
  height: fit-content;
}

.sourceImage,
.noSourceImage {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.noSourceImage {
  height: 400px;
  display: flex;
  color: #6c757d;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.category,
.date {
  color: #6c757d;
}

.title {
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

.articleDetails {
  gap: 12px;
  display: grid;
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
  }
}

.author {
  font-size: 16px;
  font-weight: 700;
  line-height: 175%;
}

.sections {
  gap: 64px;
  display: grid;
  height: fit-content;
}

@media (max-width: 575.98px) {
  .smallSection {
    display: none;
  }
}
