.main {
  gap: 10px;
  display: flex;
  font-size: 10px;
  font-weight: 300;
  align-items: center;
}

@media (max-width: 575.98px) {
  .main {
    display: grid;
  }

  .separator,
  .city,
  .temp {
    display: none;
  }
}
