.main {
  color: white;
  background: linear-gradient(-35deg, #07078d 0%, #050571 50%, #030355 100%);
}

.container {
  padding: 40px;
  margin: 0 auto;
  max-width: 1180px;
}

.section {
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 575.98px) {
  .container {
    padding: 40px 20px;
  }

  .section {
    grid-template-columns: 1fr;
  }
}
