.main {
  color: white;
  background-color: #030355;
}

.container {
  display: grid;
  margin: 0 auto;
  max-width: 1180px;
}

.top {
  display: flex;
  padding: 24px 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #1c3f58;
}

.text,
.brands {
  gap: 16px;
  display: flex;
  cursor: pointer;
  p {
    &:hover {
      text-decoration: underline;
    }
  }
}

.icon {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.bottom {
  width: 100%;
  padding: 24px 0;
  text-align: center;
}

@media (max-width: 575.98px) {
  .container {
    padding: 0 20px;
  }

  .text {
    display: none;
  }

  .brands {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
