a {
  text-decoration: none;
  color: white;
}

.main {
  gap: 24px;
  height: 160px;
  display: grid;
  padding: 16px;
  cursor: pointer;
  transition: 500ms;
  border-radius: 6px;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  &:hover {
    outline: 1px solid white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    .playIcon {
      display: flex;
    }
    .title {
      text-decoration: underline;
    }
  }
}

.tag,
.time {
  color: white;
  gap: 6px;
  display: flex;
  font-size: 12px;
  align-items: center;
}

.tag {
  color: white;
  padding: 1px 10px;
  border-radius: 30px;
  background-color: red;
}

.title {
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.playIcon {
  top: 30%;
  display: none;
  font-size: 36px;
  position: relative;
  text-align: center;
}
