.main {
  width: 100%;
}

.container {
  margin: 32px auto;
  max-width: 1180px;
}

.sections,
.sectionsGrid {
  gap: 64px;
  display: grid;
  height: fit-content;
}

.sectionsGrid {
  gap: 32px;
  grid-template-columns: 3fr 1fr;
}

.section {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}

.detailsSection {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

.tags {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.readMore {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 575.98px) {
  .tags {
    gap: 6px;
    padding: 0 20px;
    flex-wrap: wrap;
  }

  .sectionsGrid {
    padding: 0 20px;
    grid-template-columns: 1fr;
  }

  .smallSection {
    display: none;
  }

  .section,
  .detailsSection {
    grid-template-columns: 1fr;
  }
}
