.main {
  width: 100%;
}

.container {
  margin: 32px auto;
  max-width: 1180px;
}

.sections,
.sectionsGrid {
  gap: 64px;
  display: grid;
  height: fit-content;
}

.sectionsGrid {
  gap: 32px;
  grid-template-columns: 3fr 1fr;
}

.tags {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.readMore {
  width: 100%;
  display: flex;
  justify-content: center;
}
