.main {
  gap: 24px;
  display: flex;
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  align-items: center;
  &:hover {
    background-color: #f8f9fa;
  }
}

.tag,
.author,
.time {
  gap: 6px;
  display: flex;
  font-size: 12px;
  align-items: center;
}

.tag {
  color: red;
}

.image {
  width: 50px;
  height: 50px;
  cursor: pointer;
  object-fit: cover;
  border-radius: 6px;
}

.index {
  max-width: 4px;
  color: #6c757d;
  font-size: 12px;
  font-weight: 400;
}

.text {
  display: grid;
  gap: 10px;
}

.title {
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  &:hover {
    text-decoration: underline;
  }
}
