.main {
  gap: 16px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 6fr;
}

.title {
  width: 100%;
  cursor: pointer;
  font-size: 12px;
  overflow: hidden;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:hover {
    text-decoration: underline;
  }
}

.number {
  display: flex;
  color: #dedbdb;
  font-size: 24px;
  justify-content: center;
}
