/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");

/* Icons */
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-rounded/css/uicons-thin-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css");

body {
  margin: 0;
  direction: rtl;
  font-size: 14px;
  font-style: normal;
  font-family: "Alexandria", sans-serif;
  line-height: 1.3rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
}
